
.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 60px;
    justify-items: center;
    border-radius: 25px;
    background-color: #f6f6f6;
    padding: 56px 50px 43px;
    margin-bottom: 50px;
}

.card {
    position: relative;
    margin: 0;
    padding: 0;
    
}


.card p {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    left: 25px;
    bottom: 23px;
    color: #f6f6f6;
}

.card img {
    width: 100%;
    height: 340px;
    position: relative;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 820px) {
    .cards {
        grid-template-columns: repeat(1, auto);
        background-color: white;
        padding: 0 0;
        grid-gap: 0;
    }
    .card {
        width: 100%;
    }
    .card img {
        /* width: 335px; */
        height: 275px;
    }

    .card p {
        font-size: 15px;
        width: 45%;
    }
    
}
