.logo {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.center-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    
}

.center-logo h1 , p{
    margin: 0;
    width: 100%;
    
}
.center-logo h1 {
    font-size: 30px;
}
