.picture-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    margin-bottom: 25px;
    margin-top: 25px;
    /*width: 1340px;*/
    height: 415px;
    position: relative;
    z-index: 0;
}

.picture-slide .picture{
    
    position: absolute; /* position absolue pour aligner l'image à l'intérieur du conteneur */
    width: 100%; /* taille de l'image à 100% de la largeur du conteneur */
    height: 100%; /* taille de l'image à 100% de la hauteur du conteneur */
    border-radius: 25px;
    object-fit: cover;
    /*overflow: hidden;*/
}
.arrows-left{
    display: flex;
    left: 15px;
    justify-content: flex-start;
}

.arrows-right{
    display: flex;
    right: 15px;
    justify-content: flex-end;
}

.arrows-left, .arrows-right {

    z-index: 1;
    position: absolute;
}

.arrows-left img, .arrows-right img{
    height: 80px;
    width: 46px;
}

.position {
    z-index: 1;
    position: absolute;
    display: flex;
    bottom: 15px;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
    
}
@media (max-width: 820px) {
    .picture-slide {
        
        width: 100%;
        height: 225px;
        margin-bottom: 0;
        margin-top: 0;
        
    }

    .picture-slide .picture{
    border-radius: 10px;

    }
    .arrows-left img, .arrows-right img{
        height: 25%;
        width: 25%;
    }
}
@media (max-width: 820px) { 

    .position {
       
        font-size: 75%;
        
        
    }
}