.logo {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.center-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}

.center-logo h1 , p{
    margin: 0;
    width: 100%;
    
}
.center-logo h1 {
    font-size: 50px;
}
